.swiftpass_nav_plus .swiftBI_icon{margin-right:20px;}
.swiftpass_nav_plus .ant-menu-item{height:50px;line-height:50px;}
.swiftpass_nav_plus .ant-menu-submenu-title{height:50px;line-height:50px;}
.swiftpass_nav_plus .ant-menu-sub.ant-menu-inline > .ant-menu-item{height:50px;line-height:50px;}
