.form_require{position:relative;}
.form_require:before{content:"*";position:absolute;left:-15px;top:0;color:#FE050D;}
.pasword_pot_cont{padding:30px;text-align:center}
.pasword_pot_cont .swiftBI_cell_label{text-align:left;}
.pasword_pot_cont>div{margin-bottom:15px;}
.pasword_pot_cont>div:last-child{margin-bottom:0;}
.pasword_pot_cont .swiftBI_cell{margin-right:0;}
.pasword_pot_cont .swiftBi_cell_body{position:relative;}
.pasword_pot_cont .check_warn{
    width:140px;text-align:left;position:absolute;left:190px;
    top:6px;color:#FE050D;
}
